<form [formGroup]="form">
    <div class="form-group">
      <label  class="control-label" i18n="@@nameLabel">Product
        <select  class="form-control" formControlName="productId">
          <option [ngValue]="null">Select one</option>
          <option *ngFor="let product of filteredProducts" [ngValue]="product.id">{{product.name}}</option>
        </select>
      </label>
      <div ngxErrors="productId">
        <div ngxError="required" [when]="['dirty', 'touched']">
          <span class="validation-error-message">productId is required</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="quantity" class="control-label">Quantity</label>                  
      <input type="text" class="form-control" formControlName="quantity" />
      <div ngxErrors="quantity">
        <div ngxError="required" [when]="['dirty', 'touched']">
          <span class="validation-error-message">quantity must be a whole number > 0</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="price" class="control-label">Total Price</label>                  
      <input type="text" class="form-control" formControlName="price" />
      <div ngxErrors="price">
        <div ngxError="required" [when]="['dirty', 'touched']">
          <span class="validation-error-message">price must be a whole number > 0</span>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="tag" class="control-label" >Add Tags</label>                  
      <input class="form-control" formControlName="tagName" [typeahead]="filteredTags" typeaheadOptionField="name"
      (typeaheadOnSelect)="addTag($event)">
    </div>
    <button (click)="onAddThing('tag')">Add Tag</button>
  </form>
  <table>
    
  </table>