<button class="btn btn-primary" *ngIf="transaction && transaction.id !==0" [disabled]="form.invalid" (click)="onSave()">Save</button>
<button class="btn btn-primary" *ngIf="transaction && transaction.id ===0" [disabled]="form.invalid" (click)="onCreate()">Create</button>
<button class="btn btn-primary" (click)="onCancel()">Cancel</button>
<form [formGroup]="form">
  <div class="input-group date">
    <span class="input-group-addon" (click)="dp.toggle()"><i class="fa fa-calendar"></i></span><input type="text"
      placeholder="Transaction Date..." class="form-control" bsDatepicker formControlName="date" readonly
      #dp="bsDatepicker">
  </div>
  <div ngxErrors="date">
    <div ngxError="required" [when]="['dirty', 'touched']">
      <span class="validation-error-message">Date is required</span>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label" >Store               
    <input class="form-control" formControlName="storeName" [typeahead]="stores" typeaheadOptionField="name"
    (typeaheadOnSelect)="addStore($event)"></label>    
    <div ngxErrors="storeId">
      <div ngxError="required" [when]="['dirty', 'touched']">
        <span class="validation-error-message">Store is required</span>
      </div>
    </div>
  </div>
    <button type="button" (click)="onAddThing('store')">Add Store</button>
</form>
<button class="btn btn-primary" (click)="addOrder()">Add Item</button>
  <div *ngIf="form.errors && form.errors.emptyItems && form.dirty && form.touched">
    <span class="validation-error-message">Must have at least 1 item</span>
  </div>
<sd-order-list [parentForm]="form.controls.items" [brands]="brands" [types]="types" [sections]="sections" [tags]="tags"
  [products]="products" (addThing)="onAddThing($event)" (removeOrder)="onRemoveOrder($event)">
</sd-order-list>