
  <button (click)="clearFilter.emit()" >Clear Filter</button>
  <form [formGroup]="form">
      <div class="form-group">
        <label class="control-label" i18n="@@nameLabel">Product name
          <input id="name" class="form-control" formControlName="name" />
        </label>
        <button (click)="onAddThing('product')">Add Product</button>
      </div>
      <div class="form-group">
        <label  class="control-label" i18n="@@nameLabel">Brand
          <select  class="form-control" formControlName="brand">
            <option [ngValue]="null">Any</option>
            <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.name}}</option>
          </select>
        </label>
        <button (click)="onAddThing('brand')">Add Brand</button>
        <div class="form-group">
          <label class="control-label" i18n="@@nameLabel">Section
            <select  class="form-control" formControlName="section">
              <option [ngValue]="null">Any</option>
              <option *ngFor="let section of sections" [ngValue]="section.id">{{section.name}}</option>
            </select>
          </label>
          <button (click)="onAddThing('section')">Add Section</button>
        </div>
        <div class="form-group">
          <label class="control-label" i18n="@@nameLabel">Type
            <select  class="form-control" formControlName="type">
              <option [ngValue]="null">Any</option>
              <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
            </select>
          </label>
          <button (click)="onAddThing('type')">Add Type</button>
        </div>
      </div>
    </form>