//Color variables
//blue color variables
$medium-blue: #2197d5;
$dark-blue: #0c3b4b;
$font-blue: #062029;
$hover-blue: #1a78a9;
//greyscale color variables
$light-gray: #edeeef;
$medium-gray: #bdbebf;
$hover-gray: #a3a5a6;
$white: #f6fafc;
$black: #010607;
//red color variables
$light-red: #f0cccc;
$dark-red: #d5213d;
